@media only screen and (max-width: 768px) {
    .cakebox {
        height: 120px;
        padding: 12px;
    }

    .cakebox__image {
        top: -50px;
    }
}

@media only screen and (min-width: 1366px) {
    .cakebox {
        height: 300px;
        padding: 50px;
    }

    .cakebox--large {
        height: 100%;
    }
}

.cakebox {
    display: block;
    position: relative;
    z-index: 0;
    overflow: hidden;

    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.cakebox__type {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-family: "Playfair Display", sans-serif;
    font-size: 14px;
    color: rgb(73, 69, 70);
}

.cakebox__amount {
    font-family: "Circe", sans-serif;
    font-size: 10px;
    color: rgb(108, 104, 105);
}

.cakebox__image {
    margin: auto;
    z-index: -1;

    position: absolute;
    left: 0;
    right: 0;
}