@media only screen and (max-width: 768px) {
    .cakebox-group {
        width: 100%;
    }

    .cakebox-group__item {
        margin-bottom: 10px;
    }
    .cakebox-group__item:last-child {
        margin-bottom: 0;
    }

    .cakebox-group__item--double > :first-child {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1366px) {
    .cakebox-group {
        display: flex;
    }

    .cakebox-group__item {
        width: 60%;
    }

    .cakebox-group__item:first-child {
        margin-right: 35px;
    }

    .cakebox-group__item--double {
        width: 40%;
    }

    .cakebox-group__item--double > :first-child {
        margin-bottom: 35px;
    }
}