.cakes-section {
    padding-top: 30px;
    padding-bottom: 45px;
}

.cakes-section__title {
    margin-bottom: 35px;
}


@media only screen and (min-width: 1366px) {
    .cakes-section {
        padding-top: 0;
        padding-bottom: 100px;
    }

    .cakes-section__title {
        margin-bottom: 70px;
    }

    .cakes-section__list {
    }

    .cakes-section__list-item {
        height: 300px;
        width: calc((100% - 35px) / 2);
    }

    .cakes-section__list-item:nth-of-type(6n + 1) {
        height: 635px;
        margin-right: 35px;
    }
    .cakes-section__list-item:nth-of-type(6n + 4) {
        margin-left: 35px;
        height: 635px;
    }

    .cakes-section__list-item:nth-of-type(6n + 1),
    .cakes-section__list-item:nth-of-type(6n + 2),
    .cakes-section__list-item:nth-of-type(6n + 3) {
        float: left;
    }
    .cakes-section__list-item:nth-of-type(6n + 4),
    .cakes-section__list-item:nth-of-type(6n + 5),
    .cakes-section__list-item:nth-of-type(6n + 6) {
        float: right;
    }
}