.contacts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-section__title-container {
    margin-top: 30px;
}

.contacts-section__form-container {
    width: 100%;
}