.contacts-section {
    flex-direction: column;
    align-items: flex-start;

    padding-top: 40px;
    padding-bottom: 50px;
}

.contacts-section__title {
    align-self: center;
    margin-bottom: 10px;
}

.contacts-section__subtitle {
    margin-bottom: 10px;
}

.contacts-section__form-container {
    width: 100%;
    margin-bottom: 25px;
}

.contacts-section__list-item {
    margin-bottom: 25px;
}

.contacts-section__social-media-container {
    margin-top: 10px;
}

@media only screen and (min-width: 1366px) {
    .contacts-section {
        padding-top: 80px;
        padding-bottom: 300px;
        background-image: url("../img/contacts.png");
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: bottom 0 right -50px;
    }

    .contacts-section__content {
        display: flex;
    }

    .contacts-section__title {
        align-self: flex-start;
        margin-bottom: 40px;
    }

    .contacts-section__subtitle {
        margin-bottom: 25px;
    }

    .contacts-section__form-container {
        width: 100%;
        margin-bottom: 0;
    }

    .contacts-section__list-item {
        margin-bottom: 25px;
    }

    .contacts-section__social-media-container {
        margin-top: 10px;
    }
}