@media only screen and (max-width: 768px) {
    .delivery-steps__list-item::before {
        margin-right: 10px;
        font-size: 35px;
    }

    .delivery-steps__list-item {
        margin-bottom: 20px;
    }

    .delivery-steps__step-name {
        margin-bottom: 10px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 1366px) {
    .delivery-steps__list-item::before {
        margin-right: 20px;
        font-size: 64.25px;
    }

    .delivery-steps__list-item {
        margin-bottom: 20px;
    }

    .delivery-steps__step-name {
        margin-bottom: 10px;
        font-size: 14px;
    }
}


.delivery-steps {
    counter-reset: step-counter;
}

.delivery-steps__list-item::before {
    content: counter(step-counter);
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.delivery-steps__list-item {
    counter-increment: step-counter;
    display: flex;
}

.delivery-steps__list-item:last-of-type {
    margin-bottom: 0px;
}

.delivery-steps__step-name {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: bold;
}