.delivery-section {
    padding: 30px 40px 165px 40px;

    color: rgb(255, 255, 255);

    background-color: rgb(227, 53, 61);
    background-position: center 320px;
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: center 320px;
}

.delivery-section__title {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

@media only screen and (min-width: 1366px) {
    .delivery-section {
        padding-top: 130px;
        padding-bottom: 180px;
        color: rgb(255, 255, 255);
        background-position: bottom left;
    }

    .delivery-section__title {
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
    }

    .delivery-section__content {
        align-self: flex-end;
        width: 50%;
    }

    .delivery-section__steps-container {
        margin: 0;
    }
}