.delivery-section {
    padding-bottom: 140px;

    color: rgb(255, 255, 255);

    background-color: rgb(227, 53, 61);
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 170%;
}

.delivery-section__title {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.delivery-section__steps-container {
    margin: 0 15px;
}

/* .delivery-section__step-list {
    counter-reset: step-counter;
}

.delivery-section__step-container::before {
    margin-right: 10px;
    content: counter(step-counter);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 35px;
}

.delivery-section__step-container {
    counter-increment: step-counter;
    display: flex;
    margin-bottom: 20px;
}
.delivery-section__step-container:last-of-type {
    margin-bottom: 0px;
} */