.infobox {
    display: flex;
}

.infobox__content {
    margin-left: 10px;
}

.infobox__title {
    margin-bottom: 5px;

    font-family: "PT Sans Caption", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.infobox__text {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 14px;
}

.infobox__icon--text {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 30px;
}