.main-section {
    justify-content: flex-end;
    padding-top: 170px;
    padding-bottom: 20px;
}

.main-section__title {
    margin-bottom: 20px;

    line-height: 35px;
    font-size: 45px;
    letter-spacing: 1.5px;
    text-align: center;
}

.main-section__subtitle {
    margin-bottom: 22px;
    font-size: 20px;
}

.main-section__infobox-container {
    margin-bottom: 40px;
}

.main-section__button-container {
    width: 225px;
}

@media only screen and (min-width: 1366px) {
    .main-section {
        width: 50%;
        justify-content: flex-start;
        padding-top: 0;
        padding-bottom: 250px;
    }

    .main-section__title {
        margin-bottom: 30px;
        
        line-height: 60px;
        font-size: 78.31px;
        text-align: start;
    }

    .main-section__anchor {
        top: -150px;
    }

    .main-section__subtitle {
        margin-bottom: 50px;
        font-size: 40.83px;
    }

    .main-section__button-container {
        margin-bottom: 130px;
        width: 220px;
        order: 3;
    }

    .main-section__infobox-container {
        order: 4;
        margin-bottom: 0;
    }
}