.main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 50px;
    padding: 0 20px;
    height: 500px;
}

.main-section__title-container {
    width: 180px;
    margin-bottom: 20px;

    text-align: center;
    line-height: 35px;
}

.main-section__subtitle-container {
    margin-bottom: 15px;
}

.main-section__infobox-container {
    align-self: flex-start;
    margin-bottom: 30px;
}

.main-section__button-container {
    width: 225px;
}

