body {
    background: url("../img/cake.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(251, 235, 234);
}

hr {
    width: 100%;
    color: rgb(173, 173, 173);
    background-color: rgb(173, 173, 173);
    height: 1px;
}
