.main-section {
    justify-content: flex-end;

    padding-top: 170px;

    background-image: url("../img/cake.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-section__title {
    margin-bottom: 25px;

    font-size: 40px;
    text-align: center;
}

.main-section__subtitle {
    margin-bottom: 30px;
    font-size: 22px;
}

.main-section__infobox-container {
    margin-bottom: 40px;
}

.main-section__button-container {
    width: 225px;
}

