.navigation__menu--header {
    display: none;
    flex-direction: column;
}
.header .navigation-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100vw;

    background-color: rgb(231, 231, 231);
    border-bottom: 1px solid rgb(222, 222, 222);

    font-family: "PT Sans Caption";
    font-size: 12px;
    text-transform: uppercase;
}
.header .navigation-menu__item:last-of-type {
    border-bottom: none;
}


.footer .navigation-menu {
}
.footer .navigation-menu__item {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-size: 14px;
}

