.navigation__button {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/menu.png");
    height: 15px;
    width: 18px;
}

.navigation__button:focus > .navigation--dropdown,
.navigation--dropdown:hover {
    display: block;
}
.navigation--dropdown {
    display: none;
    position: fixed;
    left: 0;
    top: 40px;
}

.navigation__item--dropdown {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 100vw;

    background-color: rgb(231, 231, 231);
    border-bottom: 2px solid rgb(222, 222, 222);

    color: rgb(56, 56, 56);
    font-family: "PT Sans Caption", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.navigation__item--dropdown:last-of-type {
    border: none;
}

.navigation__item--regular {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}