@media only screen and (max-width: 768px) {
    .navigation--dropdown .navigation__link {
        width: 100%;
        line-height: 40px;
        text-align: center;
    }

    .navigation__menu {
        flex-direction: column;
    }

    .navigation--dropdown .navigation__item {
        display: flex;
        width: 100vw;

        background-color: rgb(231, 231, 231);
        border-bottom: 2px solid rgb(222, 222, 222);

        color: rgb(56, 56, 56);
        font-family: "PT Sans Caption", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }
    .navigation--dropdown .navigation__item:last-of-type {
        border: none;
    }

    .navigation__item {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
    }
}

@media only screen and (min-width: 1366px) {
}

.navigation__menu {
    display: flex;
}

.navigation__item {
    margin-right: 40px;
}

.navigation__item:last-fo-type {
    margin-right: 0px;
}