@media only screen and (max-width: 768px) {
    .social-media {
        display: flex;
    }

    .social-media__item {
        margin-right: 15px;
    }
    .social-media__item:last-of-type {
        margin-right: 0;
    }

    .social-media__item {
        fill: rgb(173, 173, 173);
    }

    .social-media--round-button .social-media__item {
        height: 60px;
        width: 60px;
        border-radius: 30px;

        background-color: rgb(255, 255, 255);
        fill: rgb(245, 11, 81);
    }
}