@import "../util/breakpoints";

.main-section__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 165px;
    padding-bottom: 20px;
    background-image: url("../../resources/img/cake.png"),
    url("../../resources/img/main.png");
    background-position: top -175px center,
    0;
    background-size: 380px,
    0;
    background-repeat: no-repeat;

    @media #{$tablet} {
        align-items: flex-start;
        padding-top: 160px;
        padding-bottom: 115px;
        background-position: top 75px right -130px,
        top 88px right 372px;
        background-size: 560px,
        210px;
    }
    @media #{$desktop} {
        width: 1541px;
        margin-top: -35px;
        margin-bottom: -65px;
        margin-right: -175px;
        padding-top: 125px;
        padding-right: 950px;
        padding-bottom: 315px;
        background-position: top right,
        top right 865px;
        background-size: 950px,
        315px;
    }
}


.main-section__title {
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 38px;

    @media #{$tablet} {
        font-size: 60px;
        line-height: 57px;
        text-align: left;
        margin-bottom: 22px;
    }
    @media #{$desktop} {
        margin-bottom: 30px;
        letter-spacing: 5.5px;
        font-size: 78.31px;
        line-height: 72px;
    }
}


.main-section__subtitle {
    margin-bottom: 22px;
    font-size: 22px;

    @media #{$tablet} {
        font-size: 36px;
        margin-bottom: 58px;
    }
    @media #{$desktop} {
        margin-bottom: 60px;
        font-size: 40.83px;
    }
}


.main-section__infobox-container {
    margin-bottom: 40px;

    @media #{$tablet} {
        order: 2;
        margin-bottom: 0;
    }
}


.main-section__button-container {
    max-width: 100%;

    @media #{$tablet} {
        order: 1;
        margin-bottom: 145px;
    }
    @media #{$desktop} {
        margin-bottom: 125px;
    }
}


.main-section__anchor {
    @media #{$tablet} {
        top: -60px;
    }
    @media #{$desktop} {
        top: -150px;
    }
}
