@font-face {
    font-family: 'Playfair Display', serif;
    src: url('https://fonts.googleapis.com/css?family=Playfair+Display$display=swap');
}
@font-face {
    font-family: 'IntroScriptR';
    src: url('../fonts/IntroScriptR-H2Base.otf') format('.otf');
}
@font-face {
    font-family: 'Circe', sans-serif;
    src: url('../fonts/CRC55.otf') format('.otf');
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}