@font-face {
    font-family: "IntroScriptR";
    font-display: auto;
    src: url("../../fonts/IntroScriptB-H2Base.woff") format("woff");
}
@font-face {
    font-family: "Circe";
    font-display: auto;
    src: url("../../fonts/Circe-Regular.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic');
