.dropdown__trigger:focus + .dropdown__content {
    animation-name: drop;
    animation-duration: 350ms;
}

@keyframes drop {
    from {
        top: -210px;
    }

    to {
        top: 40px;
    }
}

@media only screen and (min-width: 768px) {
    @keyframes drop {
        from {
            top: -190px;
        }

        to {
            top: 60px;
        }
    }
}