.dropdown__trigger {
    width: 18px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    background-image: url("../../img/menu.png");
}

.dropdown__trigger:focus + .dropdown__content,
.dropdown__content:hover {
    display: block;
}

.dropdown__content {
    position: fixed;
    top: 40px;
    left: 0;
    display: none;
}

@media only screen and (min-width: 1366px) {
    .dropdown__trigger {
        display: none;
    }

    .dropdown__content {
        position: initial;
        display: block;
    }
}
