.dropdown__trigger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.dropdown__content {
    display: none;
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0;
}

.dropdown__trigger:focus + .dropdown__content,
.dropdown__content:hover {
    display: block;
}

@media only screen and (min-width: 768px) {
    .dropdown__content {
        width: 300px;
        top: 60px;
    }
}


@media only screen and (min-width: 1366px) {
    .dropdown__trigger {
        display: none;
    }

    .dropdown__content {
        position: static;
        display: block;
        width: 100%;
    }
}
