.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid__cell--6-12 {
    width: 50%;
}


@media only screen and (max-width: 1365px) {
    .grid__cell--6-12 {
        width: 100%;
    }
}