.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid__cell--6-12 {
    width: 100%;
    margin-bottom: 30px;
}
.grid__cell--6-12:last-of-type {
    margin-bottom: 0;
}


@media only screen and (min-width: 768px) {
    .grid__cell--6-12 {
        width: calc(50% - 40px);
        margin-right: 40px;
    }
    .grid__cell--6-12:last-of-type {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1366px) {
    .grid__cell--6-12 {
        width: calc(50% - 60px);
        margin-right: 60px;
    }
}
