.ordered-list {
    counter-reset: step-counter;
    font-size: 35px;
}

.ordered-list__item::before {
    position: relative;
    top: -10px;
    margin-right: 10px;
    content: counter(step-counter);
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.ordered-list__item {
    display: flex;
    margin-bottom: 12px;
    counter-increment: step-counter;
}

.ordered-list__item:last-of-type {
    margin-bottom: 0;
}

@media only screen and (min-width: 1366px) {
    .ordered-list__item::before {
        top: -20px;
        margin-right: 20px;
        font-size: 64.25px;
    }

    .ordered-list__item {
        margin-bottom: 40px;
    }
}

