.tiled-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tiled-list__item {
    height: 120px;
    margin-bottom: 10px;
}

.tiled-list__item:last-of-type {
    margin-bottom: 0;
}

.tiled-list__item:nth-of-type(6n + 4) {
    order: 1;
    margin-top: 10px;
    margin-bottom: 0;
}


@media only screen and (min-width: 768px) {
    .tiled-list {
        display: table;
        clear: both;
        content: "";
    }

    .tiled-list__item {
        margin-bottom: 20px;
        width: 40%;
        height: 180px;
    }

    .tiled-list__item:nth-of-type(6n + 1),
    .tiled-list__item:nth-of-type(6n + 4) {
        width: calc(60% - 20px);
        height: 380px;
    }
    .tiled-list__item:nth-of-type(6n + 1) {
        margin-right: 20px;
        margin-bottom: 0;
    }
    .tiled-list__item:nth-of-type(6n + 4) {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 20px;
    }

    .tiled-list__item:nth-of-type(6n + 1),
    .tiled-list__item:nth-of-type(6n + 2),
    .tiled-list__item:nth-of-type(6n + 3) {
        float: left;
    }
    .tiled-list__item:nth-of-type(6n + 4),
    .tiled-list__item:nth-of-type(6n + 5),
    .tiled-list__item:nth-of-type(6n + 6) {
        float: right;
    }
}


@media only screen and (min-width: 1366px) {
    .tiled-list__item {
        margin-bottom: 45px;
        height: 300px;
    }

    .tiled-list__item:nth-of-type(6n + 1),
    .tiled-list__item:nth-of-type(6n + 4) {
        width: calc(60% - 40px);
        height: 645px;
    }
    .tiled-list__item:nth-of-type(6n + 1) {
        margin-right: 40px;
    }
    .tiled-list__item:nth-of-type(6n + 4) {
        margin-left: 40px;
    }
}
