$pink-color: hsl(4, 68%, 95%);
$pink-2-color: hsl(342, 100%, 48%);
$black-color: hsl(350, 7%, 17%);
$black-2-color: hsl(348, 6%, 17%);
$gray-color: hsl(345, 2%, 42%);
$gray-2-color: hsl(4, 11%, 76%);
$gray-3-color: hsl(0, 0%, 91%);
$gray-5-color: hsl(0, 0%, 71%);
$gray-4-color: hsl(0, 0%, 55%);
$white-color: hsl(0, 0%, 100%);
$red-color: hsl(357, 77%, 55%);
$red-1-color: hsl(357, 69%, 50%);

