@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap&subset=cyrillic");

@font-face {
    font-family: "IntroScriptR";
    font-display: auto;
    src: url("../../resources/fonts/IntroScriptB-H2Base.woff") format("woff");
}

@font-face {
    font-family: "Circe";
    font-display: auto;
    src: url("../../resources/fonts/Circe-Regular.woff") format("woff");
}
