$font-path: "../../fonts";

@font-face {
    font-family: "IntroScriptR";
    font-display: auto;
    src: url("../../fonts/IntroScriptB-H2Base.woff") format("woff");
}

@font-face {
    font-family: "Circe";
    font-display: auto;
    src: url("../../fonts/Circe-Regular.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap&subset=cyrillic');

$decorative-font: "IntroScriptR", cursive;
$common-font: "Circe", sans-serif;
$alternative-font: "Roboto", sans-serif;
$heading-font: "Playfair Display", serif;