.navigation--primary .navigation__item {
    display: flex;
    margin-bottom: 0;
    width: 100%;
    border-bottom: 2px solid hsl(0, 0%, 87%);
    background-color: hsl(0, 0%, 91%);
}
.navigation--primary .navigation__item:last-of-type {
    border: none;
}

.navigation--primary .navigation__link {
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: hsl(0, 0%, 22%);
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Circe";
}

.navigation--primary .navigation__item:hover {
    background-color: hsl(0, 0%, 93.7%);
}
.navigation--primary .navigation__item:active {
    background-color: hsl(0, 0%, 95.7%);
}


@media only screen and (min-width: 768px) {
    .navigation--primary .navigation__menu {
        display: block;
    }

    .navigation--primary .navigation__link {
        padding: 0;
    }
}


@media only screen and (min-width: 1366px) {
    .navigation--primary .navigation__menu {
        display: flex;
    }

    .navigation--primary .navigation__item {
        display: block;
        width: auto;
        border: none;
        background-color: transparent;
        margin-right: 48px;
    }
    .navigation__item:last-of-type {
        margin-right: 0;
    }
    .navigation--primary .navigation__item:hover {
        background: transparent;
    }

    .navigation--primary .navigation__link {
        padding: 20px 0;
        font-size: 13px;
        line-height: 1em;
    }
    .navigation--primary .navigation__link:hover {
        opacity: 1;
        color: hsl(342, 91%, 54%);
    }
}