@import "../../util/breakpoints";

.dropdown__trigger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);

    @media #{$desktop} {
        display: none;
    }
}


.dropdown__content {
    display: none;
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0;

    &:hover {
        display: block;
    }

    @media #{$tablet} {
        width: 300px;
        top: 60px;
    }
    @media #{$desktop} {
        position: static;
        display: block;
        width: 100%;
    }
}

.dropdown__trigger:focus + .dropdown__content {
    display: block;
}
