.section--highlighted {
    background-image: linear-gradient(
    rgb(232, 57, 63),
    rgb(213, 38, 49)
    );
    color: rgb(255, 255, 255);


    .section__title {
        color: rgb(255, 255, 255);
    }


    .section__subtitle {
        color: rgb(255, 255, 255);
    }
}
