.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;


    .grid__item {
        &--small-12 {
            width: 100%;
            margin-bottom: 30px;

            &:last-of-type {
                margin: 0;
            }

            @media (min-width: 768px) {
                margin: 0;
            }
        }

        &--medium-5 {
            @media (min-width: 768px) {
                width: calc((100% / 12 * 5) - 30px);
            }
        }

        &--medium-7 {
            @media (min-width: 768px) {
                width: calc((100% / 12 * 7) - 30px);
                margin-right: 30px;
            }
        }

        &--large-6 {
            @media (min-width: 1366px) {
                width: calc(50% - 40px);
                margin-right: 40px;

                &:last-of-type {
                    margin: 0;
                }
            }
        }
    }
}