.cakes-section__content {
    padding-top: 30px;
    padding-bottom: 43px;
}

.cakes-section__title {
    margin-bottom: 35px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .cakes-section__content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .cakes-section__title {
        text-align: start;
    }
}

@media only screen and (min-width: 1366px) {
    .cakes-section__content {
        padding: 0 70px 90px;
    }

    .cakes-section__title {
        margin-bottom: 70px;
    }
}
