.contacts-section__content {
    padding-top: 38px;
    padding-bottom: 50px;
}

.contacts-section__title {
    margin-bottom: 10px;
    text-align: center;
}

.contacts-section__subtitle {
    margin-bottom: 10px;
}


@media only screen and (min-width: 768px) {
    .contacts-section__content {
        padding-top: 45px;
        padding-bottom: 78px;

        background-image: url("../../img/contacts.png");
        background-position: bottom right -145px;
        background-size: 600px;
        background-repeat: no-repeat;
    }

    .contacts-section__title {
        margin-bottom: 10px;
        text-align: start;
    }

    .contacts-section__subtitle {
        margin-bottom: 20px;
        text-indent: -1px;
    }
}


@media only screen and (min-width: 1366px) {
    .contacts-section__content {
        width: 1431px;
        padding-right: 135px;
        padding-top: 75px;
        padding-bottom: 300px;
        margin-right: -65px;

        background-position: bottom right;
        background-size: 950px;
    }

    .contacts-section__title {
        margin-bottom: 40px;
    }

    .contacts-section__subtitle {
        margin-bottom: 15px;
        text-indent: -2.5px;
    }
}
