.contacts-section__content {
    padding-top: 38px;
    padding-bottom: 50px;
}

.contacts-section__title {
    text-align: center;
    margin-bottom: 10px;
}

.contacts-section__subtitle {
    margin-bottom: 10px;
}

.contacts-section__form-container {
    margin-bottom: 30px;
}

@media only screen and (min-width: 1366px) {
    .contacts-section {
        background-image: url("../../img/contacts.png");
        background-repeat: no-repeat;
        background-size: 950px;
        background-position: bottom 0 right -65px;
    }

    .contacts-section__content {
        padding-top: 75px;
        padding-bottom: 300px;
    }

    .contacts-section__title {
        text-align: start;
        margin-bottom: 40px;
    }

    .contacts-section__subtitle {
        margin-bottom: 15px;
    }

    .contacts-section__form-container {
        margin-bottom: 0;
    }
}