.delivery-section {
    background-image: url("../../img/delivery.png");
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: bottom -70px center;
}

.delivery-section__content {
    padding: 30px 40px 165px 40px;
}

.delivery-section__title {
    text-align: center;
    margin-bottom: 30px;
}

@media only screen and (min-width: 1366px) {
    .delivery-section__content {
        padding-top: 130px;
        padding-left: 750px;
        padding-bottom: 180px;
    }

    .delivery-section {
        color: rgb(255, 255, 255);
        background-size: 800px;
        background-position: bottom -150px left;
    }

    .delivery-section__title {
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
    }
}