.delivery-section__content {
    padding: 30px 40px 155px;

    background-image: url("../../img/delivery.png");
    background-position: bottom -70px center;
    background-size: 250px;
    background-repeat: no-repeat;
}

.delivery-section__title {
    margin-bottom: 36px;
    text-align: center;
}


@media only screen and (min-width: 768px) {
    .delivery-section__content {
        padding-top: 50px;
        padding-left: 43%;
        padding-right: 70px;
        padding-bottom: 50px;

        background-position: bottom -130px left -190px;
        background-size: 550px;
    }

    .delivery-section__title {
        text-align: start;
        margin-bottom: 20px;
    }
}


@media only screen and (min-width: 1366px) {
    .delivery-section__content {
        padding-top: 115px;
        padding-bottom: 165px;
        padding-left: 825px;

        background-position: bottom -150px left;
        background-size: 850px;
    }

    .delivery-section__title {
        margin-bottom: 45px;
        text-align: start;
    }
}
