.footer {
    background-color: rgb(137, 137, 137);
    color: rgb(255, 255, 255);
}

.footer__content {
    padding-top: 45px;
}

.footer__logo-container {
    margin-bottom: 25px;
    font-size: 28px;
}

.footer__social-media-container {
    margin: 30px 0;
}

.footer__line {
    height: 1px;
    background-color: rgb(173, 173, 173);
}

.footer__copyright {
    padding: 10px 20px;
    color: rgb(173, 173, 173);
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 1366px) {
    .footer {
        align-items: center;
        flex-direction: column;
        background-color: rgb(232, 232, 232);
        color: rgb(0, 0, 0);
    }

    .footer__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 1366px;
    }

    .footer__logo-container {
        margin-bottom: 0;
    }

    .footer__phone-container {
        display: none;
    }

    .footer__social-media-container {
        margin: 0;
    }

    .footer__copyright {
        padding: 20px 0;
        text-align: center;
    }
}
