.header {
    display: flex;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 40px;

    background-color: rgb(255, 255, 255);
}

.header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__phone-container {
    display: none;
}


@media only screen and (min-width: 1366px) {
    .header {
        position: initial;
        z-index: 0;
        height: auto;
        background-color: transparent;
    }

    .header__dropdown-container {
        flex-grow: 2;
    }

    .header__content {
        justify-content: initial;
        padding: 60px 73px;
        width: 1366px;
        height: auto;
    }

    .header__logo-container {
        margin-right: 40px;
    }

    .header__phone-container {
        display: block;
    }
}