.main-section__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 165px;
    padding-bottom: 20px;
}

.main-section__title {
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 38px;
}

.main-section__subtitle {
    margin-bottom: 22px;
    font-size: 22px;
}

.main-section__infobox-container {
    margin-bottom: 40px;
}

.main-section__button-container {
    width: 225px;
}

@media only screen and (min-width: 1366px) {
    .main-section__content {
        align-items: flex-start;
        padding-top: 85px;
        padding-right: 700px;
        padding-bottom: 250px;
    }

    .main-section__title {
        margin-bottom: 30px;
        text-align: start;
        letter-spacing: 5.5px;
        font-size: 78.31px;
        line-height: 72px;
    }

    .main-section__anchor {
        top: -150px;
    }

    .main-section__subtitle {
        margin-bottom: 60px;
        font-size: 40.83px;
    }

    .main-section__button-container {
        order: 1;
        margin-bottom: 125px;
        width: 230px;
    }

    .main-section__infobox-container {
        order: 2;
        margin-bottom: 0;
    }
}
