.main-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 165px;
    padding-bottom: 20px;
}

.main-section__title {
    margin-bottom: 20px;

    font-size: 38px;
    text-align: center;
    letter-spacing: 4px;
}

.main-section__subtitle {
    margin-bottom: 22px;
    font-size: 22px;
}

.main-section__infobox-container {
    margin-bottom: 40px;
}

.main-section__button-container {
    width: 225px;
}

@media only screen and (min-width: 1366px) {
    .main-section__content {
        align-items: flex-start;

        padding-top: 0;
        padding-right: 700px;
        padding-bottom: 250px;
    }

    .main-section__title {
        margin-bottom: 30px;
        
        font-size: 78.31px;
        text-align: start;
    }

    .main-section__anchor {
        top: -150px;
    }

    .main-section__subtitle {
        margin-bottom: 50px;
        font-size: 40.83px;
    }

    .main-section__button-container {
        margin-bottom: 130px;
        width: 220px;
        order: 3;
    }

    .main-section__infobox-container {
        order: 4;
        margin-bottom: 0;
    }
}