.main-section__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 165px;
    padding-bottom: 20px;

    background-image:
        url("../../img/cake.png"),
        url("../../img/main.png");
    background-position:
        top -175px center,
        0;
    background-size:
        380px,
        0;
    background-repeat: no-repeat;
}

.main-section__title {
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 38px;
}

.main-section__subtitle {
    margin-bottom: 22px;
    font-size: 22px;
}

.main-section__infobox-container {
    margin-bottom: 40px;
}

.main-section__button-container {
    max-width: 100%
}


@media only screen and (min-width: 768px) {
    .main-section__content {
        align-items: flex-start;

        background-position:
            top 80px right -125px,
            top 80px right 340px;
        background-size:
            550px,
            250px;
    }

    .main-section__anchor {
        top: -60px;
    }

    .main-section__title {
        text-align: start;
    }

    .main-section__button-container {
        order: 1;
        margin-bottom: 125px;
    }

    .main-section__infobox-container {
        order: 2;
        margin-bottom: 0;
    }
}


@media only screen and (min-width: 1366px) {
    .main-section__content {
        width: 1541px;
        margin-top: -35px;
        margin-bottom: -65px;
        margin-right: -175px;
        padding-top: 125px;
        padding-right: 950px;
        padding-bottom: 315px;

        background-position:
            top right,
            top right 865px;
        background-size:
            950px,
            315px;
    }

    .main-section__title {
        margin-bottom: 30px;
        letter-spacing: 5.5px;
        font-size: 78.31px;
        line-height: 72px;
    }

    .main-section__anchor {
        top: -150px;
    }

    .main-section__subtitle {
        margin-bottom: 60px;
        font-size: 40.83px;
    }

    .main-section__button-container {
        margin-bottom: 125px;
    }
}
