.section--highlight {
    color: rgb(255, 255, 255);
    background-color: rgb(227, 53, 61);
}
.section--highlight .section__title {
    color: rgb(255, 255, 255);
}
.section--highlight .section__subtitle {
    color: rgb(255, 255, 255);
}

.section__content {
    padding: 0 20px;
    font-family: "Circe", sans-serif;
}

.section__anchor {
    position: relative;
    top: -40px;
}

.section__title {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 24px;
    color: rgb(45, 40, 41);
}

.section__subtitle {
    font-family: "IntroScriptR", cursive;
    font-size: 22px;
    color: rgb(50, 49, 61);
}

@media only screen and (min-width: 1366px) {
    .section {
        display: flex;
        justify-content: center;
    }

    .section__content {
        box-sizing: border-box;
        width: 1366px;
        padding: 0 70px;
    }
    
    .section__anchor {
        top: 0;
    }

    .section__title {
        font-size: 40px;
    }

    .section__subtitle {
        font-size: 35px;
    }
}
