.button {
    border-radius: 100vw;
    max-width: 100%;
    padding: 20px 60px;
    background-color: hsl(342, 100%, 48%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.button:hover {
    box-shadow: 0 5px 5px hsl(347, 93%, 83%);
}
.button:active {
    opacity: 0.9;
    box-shadow: 0 5px 5px hsl(347, 93%, 72%);
}

.button__text {
    font-family: "Circe";
    font-size: 13px;
    vertical-align: -0.15em;
    text-transform: uppercase;

    word-wrap: break-word;
    /* Button text overflow alternative behavior:
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}