.button {
    width: 100%;
    height: 50px;
    border-radius: 25px;

    background-color: rgb(245, 0, 73);
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    font-family: "IntroScriptR", sans-serif;
    font-size: 13px;
}