.contacts {
    font-size: 14px;
    font-family: "Circe";
}

.contacts__item {
    margin-bottom: 20px;
}

.contacts__item:last-of-type {
    margin-bottom: 0;
}

.contacts__social-media-container {
    margin-top: 15px;
}

@media only screen and (min-width: 1366px) {
    .contacts {
        font-size: 20px;
    }

    .contacts__item {
        margin-bottom: 30px;
    }

    .contacts__social-media-container {
        margin-top: 25px;
    }
}
