.delivery-step__name {
    font-family: "Circe";
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
}

.delivery-step__text {
    font-family: "Circe";
    font-size: 14px;
}

@media only screen and (min-width: 1366px) {
    .delivery-step__name {
        font-size: 21px;
    }

    .delivery-step__text {
        font-size: 20px;
    }
}

