.form__button-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 180px;
}

.form__description {
    margin-bottom: 10px;
    font-family: "Circe" sans-serif;
}

.form__field {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.form__field--textarea {
    height: 120px;
}

.form__field::placeholder {
    font-family: "Circe", sans-serif;
    font-size: 14px;
    color: rgb(204, 204, 204);
}

@media only screen and (min-width: 1366px) {
    .form {
        padding-right: 45px;
    }

    .form__description {
        margin-bottom: 50px;
        font-family: "Circe" sans-serif;
        font-size: 20px;
    }

    .form__field {
        height: 1em;
        padding: 0;
        margin-bottom: 30px;
        border-bottom: 1px solid rgb(201, 188, 187);
        background-color: transparent;
    }

    .form__button-container {
        margin-left: 0;
        margin-right: 0;
        margin-top: 80px;
        width: 175px;
    }
}