.form__description {
    margin-bottom: 10px;
    font-family: "Circe";
}

.form__field {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
}

.form__field--textarea {
    height: 120px;
}

.form__field::placeholder {
    color: rgb(204, 204, 204);
    font-size: 14px;
    font-family: "Circe";
}

.form__button-container {
    text-align: center;
    margin-top: 5px;
}


@media only screen and (min-width: 768px) {
    .form__description {
        font-size: 14px;
    }

    .form__button-container {
        margin-top: 18px;
        text-align: left;
    }
}


@media only screen and (min-width: 1366px) {
    .form__description {
        margin-bottom: 50px;
        font-size: 20px;
    }

    .form__field {
        padding: 30px 0 0;
        border-bottom: 1px solid rgb(201, 188, 187);
        background-color: transparent;
    }

    .form__field--textarea {
        height: 50px;
    }

    .form__button-container {
        margin-top: 80px;
    }
}
