.infobox__item {
    display: flex;
    margin-bottom: 13px;
}

.infobox__item:last-of-type {
    margin-bottom: 0;
}

.infobox__icon {
    height: 55px;
    width: 55px;
    fill: rgb(245, 0, 73);
}

.infobox__text {
    margin-left: 10px;
    align-self: center;
    font-size: 14px;
    font-family: "Circe";
    line-height: 17px;
    width: 250px;
}

@media only screen and (min-width: 768px) {
    .infobox {
        display: flex;
    }

    .infobox__item {
        margin-bottom: 0;
    }
    .infobox__item:last-of-type {
        margin-right: 0;
    }

    .infobox__icon {
        height: 55px;
        width: 55px;
    }
}