.navigation__item {
    margin-bottom: 17px;
    font-size: 14px;
}

.navigation--dropdown .navigation__link {
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.navigation--dropdown .navigation__item {
    display: flex;
    margin-bottom: 0;
    width: 100vw;
    border-bottom: 2px solid rgb(222, 222, 222);
    background-color: rgb(231, 231, 231);
    color: rgb(56, 56, 56);
    text-transform: uppercase;
    font-size: 12px;
    font-family: "PT Sans Caption", sans-serif;
}

.navigation--dropdown .navigation__item:last-of-type {
    border: none;
}

@media only screen and (min-width: 1366px) {
    .navigation__menu {
        display: flex;
    }

    .navigation__item {
        margin-right: 8px;
        margin-bottom: 0;
    }

    .navigation__link {
        padding: 20px;
        font-size: 15px;
    }

    .navigation--dropdown .navigation__link {
        font-size: 13px;
        line-height: 1em;
    }
    .navigation--dropdown .navigation__link:hover {
        color: rgb(245, 31, 94);
    }

    .navigation--dropdown .navigation__item {
        display: block;
        width: fit-content;
        border: none;
        background-color: transparent;
    }
}
