@import "../util/typography";

.button {
    border-radius: 100vw;
    max-width: 100%;
    padding: 20px 60px;
    background-color: hsl(342, 100%, 48%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;

    &:hover {
        box-shadow: 0 5px 5px hsl(347, 93%, 83%);
    }

    &:active {
        background-color: hsl(342, 99%, 46%);
        box-shadow: 0 5px 5px hsl(347, 93%, 72%);
    }
}


.button__text {
    font-family: $main-font;
    font-size: 13px;
    vertical-align: -0.15em;
    text-transform: uppercase;
    word-wrap: break-word;
}
