@import "../util/fonts";
@import "../util/screen-queries";

.cakebox {
    position: relative;
    z-index: 0;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px;
    height: 100%;
    background-color: hsl(0, 0%, 100%);

    @media #{$tablet} {
        padding: 20px 25px;
        box-shadow: 0 0 16px hsl(0, 51%, 90%);
    }
    @media #{$desktop} {
        padding: 33px 50px;
        transition: transform 1000ms;
    }

    &:hover {
        @media #{$tablet} {
            box-shadow: 0 0 18px hsl(0, 52%, 78%);
        }
        @media #{$desktop} {
            transform: scale(1.05);
        }
    }


    .cakebox__arrow {
        display: none;
        position: absolute;
        background: url(../../svg/right-arrow.svg) no-repeat;
        right: 60px;
        bottom: 40px;
        width: 20px;
        height: 20px;

        &::before {
            content: "Смотреть";
            position: relative;
            right: 105px;
            color: hsl(345, 3%, 28%);
            font-family: $main-font;
            font-size: 20px;
            opacity: 0;
            transition: opacity 375ms;
        }

        @media #{$desktop} {
            display: block;
        }
    }

    &:hover .cakebox__arrow::before {
        @media #{$desktop} {
            opacity: 1;
        }
    }


    .cakebox__type {
        overflow: hidden;
        color: hsl(345, 3%, 28%);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: $main-font;
        font-size: 14px;

        @media #{$tablet} {
            margin-bottom: 7px;
            font-size: 14.32px;
        }
        @media #{$desktop} {
            margin-bottom: 7px;
            font-size: 23px;
        }
    }


    .cakebox__amount {
        color: hsl(345, 2%, 42%);
        font-family: $main-font;
        font-size: 10px;

        @media #{$tablet} {
            font-size: 11.93px;
        }
        @media #{$desktop} {
            font-size: 18px;
        }
    }


    .cakebox__image {
        position: absolute;
        top: -50px;
        right: 0;
        left: 0;
        z-index: -1;
        margin: auto;
        height: 250px;

        @media #{$tablet} {
            top: 0;
            height: 100%;
        }
    }

    &:hover .cakebox__image {
        opacity: 0.8;
    }
    &:active .cakebox__image{
        opacity: 0.6;
    }
}