@import "../util/fonts";
@import "../util/screen-queries";

.contacts {
    font-size: 14px;
    font-family: $main-font;

    @media #{$desktop} {
        font-size: 20px;
    }


    .contacts__item {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }

        @media #{$desktop} {
            margin-bottom: 30px;
        }
    }


    .contacts__social-media-container {
        margin-top: 15px;

        @media #{$desktop} {
            margin-top: 25px;
        }
    }
}