@import "../util/typography";
@import "../util/breakpoints";

.delivery-step__name {
    font-family: $main-font;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;

    @media #{$desktop} {
        font-size: 21px;
    }
}


.delivery-step__text {
    font-family: $main-font;
    font-size: 14px;

    @media #{$desktop} {
        font-size: 20px;
    }
}
