@import "../util/fonts";
@import "../util/screen-queries";

.form {
    .form__description {
        margin-bottom: 10px;
        font-family: $main-font;

        @media #{$tablet} {
            font-size: 14px;
        }
        @media #{$desktop} {
            margin-bottom: 50px;
            font-size: 20px;
        }
    }


    .form__field {
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        height: 50px;
        border-radius: 3px;

        @media #{$desktop} {
            padding: 30px 0 0;
            border-bottom: 1px solid rgb(201, 188, 187);
            background-color: transparent;
        }

        &::placeholder {
            color: rgb(204, 204, 204);
            font-family: $main-font;
            font-size: 14px;
        }

        &--textarea {
            height: 120px;

            @media #{$desktop} {
                height: calc(1em + 31px);
                overflow: hidden;
            }
        }

    }


    .form__button-container {
        text-align: center;
        margin-top: 5px;

        @media #{$tablet} {
            margin-top: 18px;
            text-align: left;
        }
        @media #{$desktop} {
            margin-top: 80px;
        }
    }
}