.social-media--round-button .social-media__item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 100%);
}
.social-media--round-button .social-media__item-link {
    width: 60px;
    height: 60px;
}
.social-media--round-button .social-media__icon {
    fill: hsl(342, 100%, 48%);
    width: 35px;
    height: 35px;
}
.social-media--round-button .social-media__item:hover {
    box-shadow: 0 0 5px hsl(347, 93%, 83%);
}
.social-media--round-button .social-media__item:active {
    box-shadow: 0 0 10px hsl(347, 90%, 80%);
}
