.social-media {
    display: flex;
    align-items: center;
}

.social-media__item {
    margin-right: 35px;
    cursor: pointer;
}
.social-media__item:last-of-type {
    margin-right: 0;
}

.social-media__item-link {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.social-media__icon {
    height: 30px;
    width: 30px;
    fill: rgb(173, 173, 173);
}
.social-media__item:hover .social-media__icon {
    fill: rgb(216, 216, 216);
}


@media only screen and (min-width: 768px) {
    .social-media__item {
        margin-right: 20px;
    }
}


@media only screen and (min-width: 1366px) {
    .social-media__icon {
        height: 30px;
        width: 30px;
        fill: rgb(105, 105, 105);
    }

    .social-media__item:hover .social-media__icon {
        fill: rgb(163, 163, 163);
    }
}